* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2.9rem;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.9em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.7;
}

input:not([type="radio"]),
select,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
}

input,
select,
textarea,
button {
  padding: 1em;
  border-radius: 8px;
}

fieldset {
  padding: 1em;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: green;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 1px solid red;
}

input:valid,
select:valid,
textarea:valid {
  border: 1px solid green;
}

input:focus,
textarea:focus {
  border: 2px solid #000000;
}

button {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  background-color: #008000;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}
